name: Build and Push to Docker Hub

on:
  push:
    branches: [ main ]

jobs:
  docker-push:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: bikas0
        password: ${{ secrets.DOCKER_TOKEN }}
    
    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          bikas0/healthcare-assistant:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max